# rabbitmq
JW_RABBITMQ_AMQP_PORT=9111
JW_RABBITMQ_PANEL_PORT=9112

# redis
JW_REDIS_SINGLE_NODE_PORT=9113
JW_REDIS_PANEL_PORT=9114

# postgres
JW_POSTGRES_DB_PORT=9115
JW_POSTGRES_PANEL_PORT=9116

# neo4j
JW_NEO4J_PANEL_PORT=9117
JW_NEO4J_DB_PORT=9118
